// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~@primer/css/index.scss';

.search-result {
    background-color: var(--color-bg-danger);
}

[x-cloak] {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}
